.title {
    font-weight: 100;
    font-size: 3em;
    margin:0 auto;
}

.btn__group {
    margin-top: 0%;
    margin-left:16%;
}
.openingAnimation{
    margin:0 auto ;
    width: 500px;
}
